* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--font-one);
  scroll-behavior: smooth;
  scroll-margin-top: 6rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media (max-width: 868px) {
    scroll-margin-top: 1rem;
  }
}

html {
  box-sizing: border-box;
  letter-spacing: -0.05em;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --speed: 3s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: 500px;
  height: 400px;
  position: absolute;
  filter: blur(calc(200px / 1));
  background-image: linear-gradient(
                  hsl(158, 82%, 57%),
                  hsl(252, 82%, 57%)
  );
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (max-width: 800px) {
  .gradient{
    display: none;
  }
}


.wrapper {
  min-height: 0vw;
  margin-inline: auto;
  width: min(90%, 68rem) !important;

  @media (max-width: 868px) {
    margin-bottom: 4.75rem;
  }

  @media (max-width: 768px) {
    width: min(88%, 65rem) !important;
  }
}

body.stop-transitions * {
  transition: none !important;
}

:root {
  --white: #eed1c7;
  --white-two: hsl(0, 17%, 69%);
  --orange: #d7714b;
  --orange-opacity: #dba8952a;
  --bg-color: hsl(0, 6%, 6%);
  --neutral-one: #211c1c;
  --neutral-two: #211c1c75;
  --neutral-three: #1e1a1a;
  --neutral-four: rgba(123, 115, 115, 0.227);
  --neutral-five: #1f1919ca;
  --font-one: "Space Grotesk", sans-serif;
  --font-two: "JetBrains Mono", monospace;
  --bezier-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

::selection {
  background: var(--orange-opacity);
}

/*-----headings-----*/

h1 {
  color: var(--white);
  font-weight: 600;
  letter-spacing: -0.075em;
  line-height: 0.05rem;
  line-height: 101.6%;
  font-size: 6rem;
}

h2 {
  color: var(--white);
  font-weight: 500;
  font-size: 2.25rem;
  border-radius: 12px;
  width: fit-content;
  text-align: left;
}

h3 {
  color: var(--white);
  font-weight: 500;
  font-size: 1.4rem;
}

h4 {
  color: var(--white-two);
  font-weight: 300;
  font-size: 1.6rem;
}

h5 {
  color: var(--white-two);
  font-size: 1.15rem;
  font-family: var(--font-two);
  font-weight: 300;
  letter-spacing: -0.075em;
}

h6 {
  color: var(--white-two);
  font-size: 0.9rem;
  font-family: var(--font-two);
  font-weight: 300;
  letter-spacing: -0.075em;
}

p {
  color: var(--white-two);
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: -0rem;
  line-height: 1.75rem;
}

@media (max-width: 868px) {
  h2 {
    display: block;
    padding: 0;
    background-color: transparent;
    font-size: 1.75rem;
    margin-bottom: 0.3rem;
    display: inline-block;
  }

  h3 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

/*-----scrollbar-----*/

::-webkit-scrollbar {
  width: 11px;
  background-color: transparent;

  &-thumb {
    background-color: var(--neutral-three);
    background-clip: content-box;
  }

  &-thumb:hover {
    background-color: var(--neutral-one);
  }
}
